<div class="text-center mt-4">
  <h3>Пройденные тесты (пройдено <%= @completed_tests_count %> из <%= @test_count %>)</h3>
</div>

<div class="row row-cols-4">
  <% @completed_tests.each do |completed_test| %>
    <%= render partial: "completed_test", locals: { completed_test: completed_test } %>
  <% end %>
</div>
