<div class="text-center mt-4">
  <h1>Добро пожаловать!</h1>
  <h3 class="mt-4">Здесь вы можете проходить тесты по языку программирования Ruby</h3>
  <h3 class="mt-4">Чтобы начать проходить тесты, войдите или зарегистрируйтесь в системе</h3>
  <div class="d-grid gap-2 col-4 mx-auto pt-5">
    <%= link_to 'Войти', new_user_session_path, class: "btn btn-danger text-black btn-lg mt-4 h3" %>
    <%= link_to 'Регистрация', new_user_registration_path, class: "btn btn-danger text-black btn-lg mt-4 h3" %>
    <%= link_to 'Войти как администратор', new_admin_session_path, class: "btn btn-danger text-black btn-lg mt-4 h3" %>
  </div>
</div>