<div class="text-center mt-4">
  <h3>Список доступных тестов</h3>
</div>

<div class="row row-cols-4">
  <% @tests.each do |test| %>
    <div class="col">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title text-center"><%= test.title %></h4>
          <p class="card-text"><%= test.description %></p>
          <%= link_to "Пройти тест", test_start_path(test), class: "btn btn-danger text-black" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
